<div class="col-sm-10">
    <ul>
        <li *ngFor="let group of groups" class="panel panel-default group-panel" (click)="onSelect(group)">
            <div class="panel-body">
                <div class="group-body">
                    <span class="group">{{group.title}} </span>
                    <span class="badge">{{countMembers(group.title)}}</span>
                </div>
            </div>
            <ul *ngIf="isSelected(group)">
                <li class="contact" *ngFor="let contact of (contacts | contactGroup: group)">
                    <span class="name">{{contact.firstName}} </span><span class="name">{{contact.surname}}</span>
                </li>
                <p *ngIf="(contacts | contactGroup: group).length === 0">No contacts in this group</p>
            </ul>
        </li>
    </ul>
    <div class="controls" *ngIf="(!isCreating && !isEditing)">
        <button class="btn btn-success" (click)="startCreating()">Create</button>
        <button *ngIf="shouldShowEdit()" class="btn btn-warning" (click)="startEditing()">Edit</button>
        <button *ngIf="shouldShowDelete()" class="btn btn-danger" (click)="deleteGroup()">Delete</button>
    </div>

    <form (ngSubmit)="addGroup()" name="creating" class="creating form-inline" *ngIf="isCreating">
        <input class="form-control" type="text" [(ngModel)]="newGroup.title" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-default">Add</button>
        <button class="btn btn-info" (click)="cancelCreating()">Cancel</button>
    </form>

    <form (ngSubmit)="updateGroup()" name="editing" class="editing form-inline" *ngIf="isEditing">
        <input class="form-control" type="text" [(ngModel)]="editedGroup.title" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-default">Update</button>
        <button class="btn btn-info" (click)="cancelEditing()">Cancel</button>
    </form>
</div>